.cta-button {
    box-shadow: 0 0 0 0 rgb(240, 240, 240);
    outline: 2px solid;
    color: rgb(240, 240, 240);
    outline-color: rgb(240, 240, 240);
    outline-offset: 0;
    text-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px;
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    top: 20px;
    justify-content: center;
    transition: all .7s cubic-bezier(.36, .63, .5, .73);
    margin: auto;
    background-color: black;
}

.cta-button:hover {
    box-shadow: 0 0 0 2px rgb(240, 240, 240);
    outline-color: rgb(240, 240, 240, 0);
    outline-offset: 15px;
    color: rgb(240, 240, 240);
    background-color: rgb(32, 32, 32);
    transition: .7s;
}