* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2 {
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: 30px;
}
form {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    bottom: 30px;
}

label {
    font-weight: bold;
    color: #555;
    text-align: center;
}

input[type="password"],
input[type="text"],
input[type="submit"],
input[type="button"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #0056b3;
}

input[type="checkbox"] {
    display: flex;
}

img {
    height: 200px;
    width: 200px;
}

.error {
    color: #d9534f;
    font-size: 14px;
    display: none;
}

.cance {
    background-color: #6c757d;
}

.cance:hover {
    background-color: #5a6268;
}

p {
    text-align: center;
}