* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* COLORES */

:root {
    --bg: #171717;
    --carlos: #282828;
    --text-color: #fff;
    --accent: rgb(255, 255, 255);
    --color-1: #55006a;
    --color-2: #25d366;
    --color-3: #4a0045;
    --color-4: #a2caff;
    --color-5: #1877f2;
    --color-6: #009488;
    --color-7: #1877f2;
    --color-8: #1877f2;
    --color-9: #1877f2;
    --color-10: rgb(5, 0, 0);
}

/* HEADER */

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav-header {
    background-color: var(--color-10);
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0rem;
    text-decoration: none;
}

.submenu-minwht {
    display: none;
}

.subwht {
    font-size: 45px;
}

@media (max-width: 706px) {

    ul {
        font-size: 20px;
        background-color: rgba(152, 24, 137, 0.5);
    }

    .nav-header {
        background-color: var(--color-2);
        display: flex;
        justify-content: space-evenly;
        z-index: 3;
        position: fixed;
        width: 100%;
        height: 60px;
        top: 0rem;
        text-decoration: none;
    }

    .submenu-minwht:hover {
        display: block;
        list-style-type: none;
        list-style: none;
    }

    .resumen-header {
        display: none;
    }

    .submenu-minwht:hover {
        display: block;
    }

    .main-inicio h1 {
        position: relative;
        top: 5.6rem;
        font-size: 20px;
        color: var(--color-4);
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    .main-inicio h1:hover {
        color: #edf2f9;
        transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
    }

}

h1 {
    color: white;
}

.nav-header h1,
a {
    position: relative;
    bottom: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.nav-header h1:hover {
    color: rgb(252, 169, 255);
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nav-header a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem;
    position: relative;
    top: .8rem;
}

.nav-header a:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.main-inicio {
    text-align: center;
    background-color: var(--color-3);
    background-image: url(../img/cielo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 20px var(--color-1);
    height: 700px;
}

.main-inicio h1 {
    position: relative;
    top: 5.6rem;
    font-size: 35px;
    color: var(--color-4);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.main-inicio h1:hover {
    color: #edf2f9;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.main-inicio p {
    font-size: 20px;
    color: white;
    margin-top: 100px;
}

.button {
    display: inline-block;
    max-width: 20rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.shape {
    fill: transparent;
    stroke: var(--accent);
    stroke-dasharray: 120 500;
    stroke-dashoffset: -454;
    stroke-width: 8px;
    transition:
        stroke-width 0.9s,
        stroke-dashoffset 0.9s,
        stroke-dasharray 0.9s;
}

.text {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.3rem;
    color: var(--text-color);
    top: -3rem;
    position: relative;
    pointer-events: none;
}

.shape:hover {
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}


/* DIVISOR */

.divisor {
    width: 100%;
    height: 5px;
    border: none;
    background-color: var(--color-2);
}

/* MAIN INFO */

.info {
    background-color: var(--bg);
}

.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    gap: 1.5rem;
    padding-top: 6rem;
}

.articles article {
    margin: 10px 0 0;
    margin-bottom: 200px;
    margin-top: 100px;
    max-width: 20rem;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.536) 0 0 20px;
    text-decoration: none;
    background-color: var(--carlos);
}

.articles article h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.6rem;
    color: rgb(227, 227, 227);
    transition: color 0.3s ease-out;
    text-decoration: none;
}

.articles article h2:hover {
    color: rgb(255, 255, 255);
    transition: .3s;
}

.articles article p {
    color: white;
}


.articles article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
}



.articles article:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.article-preview {
    padding: 1.5rem;
    background: var(--carlos);
    text-decoration: none;
}

.articles figure {
    width: 100%;
    height: 14rem;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary: #3ECF8E;
    --primary-dark: #37996B;
    --primary-darker: #317F5A;
    --headline-color: #F9F9F9;
    --text-color: #7E7E7E;
    --bg: #1C1C1C;
    --footer-bg: #161616;
    --secondary: #2E2E2E;
    --footer-border: #3E3E3E;
    --gray-border-hover: #505050;
    --gray-menu-button: #7E7E7E;
    --gray-menu-button-hover: #232323;
    --navbar-height: 64px;
    --gray-text-hover: #8F8F8F;
    --gray-icon: #A0A0A0;
    --footer-width: 64rem;
}

/*? footer reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
}

/*? footer containers */
footer {
    position: relative;
    bottom: 0;
    background-color: var(--footer-bg);
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-top: 20px;
}

*::selection {
    background: var(--primary);
    color: var(--footer-bg);
}


.footer-wrapper {
    display: flex;
    flex-direction: column;
    max-width: var(--footer-width);
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.footer-logo-column {
    padding-right: 10%;
}

.footer-logo {
    margin-bottom: 1.5rem;
    width: 14rem;
}

/*? socials */
.social-wrapper {
    display: flex;
    gap: 0.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.social-links {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
}

.social-links a {
    color: var(--text-color);
    text-decoration: none;
}

.social-links svg {
    width: 2.5rem;
    height: 2.5rem;
    stroke: var(--text-color);
    transition: all 0.2s ease-in-out;
}

.social-links svg:hover {
    stroke: var(--headline-color);
}

.social-links ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    list-style-type: none;
}

/* columns with links */

.link-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    flex-grow: 1;
}

.link-columns>div {
    flex-grow: 1;
    display: flex;
    gap: 2rem;
}

.link-columns>div>section {
    min-width: 8rem;
    width: 50%;
}

.link-columns ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-weight: 600;
}

.link-columns ul a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.link-columns ul a:hover {
    color: var(--headline-color);
}

.link-columns h3 {
    color: var(--headline-color);
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

/*? Footer bottom */
.footer-bottom {
    margin-top: 8rem;
    width: 100%;
    color: var(--text-color);
}

.footer-bottom-wrapper {
    max-width: var(--footer-width);
    margin: 0 auto;
    width: 100%;
    padding: 2.5rem 1rem;
    border-top: 1px solid var(--footer-border);
}


/* Google Doc */
main section iframe {
    width: 80%;
    height: 600px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    main section iframe {
        width: 90%;
        height: 400px;
        padding: 10px;
    }
}

