* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

h2 {
    color: white;
}

form {
    color: black;
    display: inline-block;
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    width: 370px;
    height: 640px;
    text-align: center;
    margin-right: 7px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.343);
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    color: black;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    background-color: ghostwhite;
    transition: 0.5s;
}

input:hover {
    background-color: rgb(189, 189, 189);
    transition: 0.5s;
}

p{
    color: red;
}

.actu {
    background-color: lime;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    font-size: 20px;
}

.cance {
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    font-size: 20px;
}

.cancel {
    margin-top: 14px;
}
