body {
    background-image: url(../img/door-heaven2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.confir {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin-top: 200px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.614);
}

.confir h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.confir p {
    font-size: 16px;
    color: #e6e6e6;
    margin-bottom: 20px;
}


.confir .btn1 {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilo para el botón "Cancelar" */
.confir .btn {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilo para el enlace del botón "Cancelar" */
.confir .btn + a {
    text-decoration: none;
}
