/* Modo oscuro */

.modo-oscuro {
    background-color: black;
    color: white;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
}

.modo-claro {
    background-color: rgba(0, 4, 123, 0.49);
    color: black;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
}

.modo-claro .news {
    background-color: rgba(67, 73, 255, 0.49);
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
}

.modo-claro .descargador {
    transition: filter 1.5s ease;
    -webkit-transition: filter 1.5s ease;
    -moz-transition: filter 1.5s ease;
    -ms-transition: filter 1.5s ease;
    -o-transition: filter 1.5s ease;
}

.news,
.info {
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
}

.modo-oscuro .news *,
.modo-oscuro .info * {
    text-decoration-color: white;
    text-emphasis-color: white;
    color: white;
    transition: color 1.5s ease;
    -webkit-transition: color 1.5s ease;
    -moz-transition: color 1.5s ease;
    -ms-transition: color 1.5s ease;
    -o-transition: color 1.5s ease;
    -moz-text-decoration-color: white;
}

.modo-oscuro span[class="fondo"] {
    background-color: rgba(110, 81, 44, 0.5);
    transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -ms-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
}

.modo-oscuro .slider figure img,
.modo-oscuro .descargador {
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -ms-filter: brightness(0.7);
    -o-filter: brightness(0.7);
}

header,
footer,
.submenu_redes {
    transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -ms-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
}

.modo-oscuro header,
.modo-oscuro footer,
.modo-oscuro .submenu_redes {
    background-color: rgb(71, 71, 71);
    transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -ms-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
}

.header-main button:not(.switch) {
    transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -ms-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
}

.modo-oscuro .header-main button:not(.switch) {
    background-color: rgb(71, 71, 71);
    transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -ms-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
}

.modo-oscuro .header-main button:hover:not(.switch) {
    background-color: rgb(119, 37, 23);
    color: bisque;
    border-radius: 0.9rem;
    transition: 0.5s ease;
    -webkit-border-radius: 0.9rem;
    -moz-border-radius: 0.9rem;
    -ms-border-radius: 0.9rem;
    -o-border-radius: 0.9rem;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.modo-oscuro .header-main button:active:not(.switch) {
    background-color: rgb(255, 123, 0);
    color: rgb(119, 37, 23);
    border-radius: 2rem;
    transition: 0.5s ease;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

/* Fuentes e iconos: */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Anek Latin', serif;
}

p {
    font-family: 'Cute Font', cursive;
}

/* Estilos globales y algunas configuraciones: */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --color-p: rgb(50, 183, 236);
    --color-btnj: rgb(100, 183, 236);
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);

    --glow-rgb: rgb(245, 245, 245);

    --light-gold-rgb: rgb(249, 181, 51);
    --dark-gold-rgb: rgb(215, 147, 23);

    --primary-stripe-rgb: rgb(230, 230, 230);
    --secondary-stripe-rgb: rgb(240, 240, 240);

    --color-headfoot: lightgray;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flexbox;
    background-color: rgba(0, 4, 123, 0.49);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 15px;
    padding-top: 14px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Cabecera (header): */

:target::before:not(#info) {
    content: "";
    display: contents;
    height: 50px;
    margin: -50px 0 0;
}

header {
    position: fixed;
    background-color: var(--color-headfoot);
    width: 100%;
    padding: 1rem;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header-main ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-main li {
    float: right;
    text-align: center;
    margin-right: 5px;
    position: relative;
}

.header-main img,
.header-main input[type="image"] {
    width: 50px;
    float: left;
    margin-right: 80px;
}

.header-main li img,
.header-main li input[type="image"] {
    float: left;
}

.logo-imagen {
    width: 50px;
    margin-right: 80px;
    transition: filter 0.3s ease;
}

.logo-imagen:hover {
    filter: brightness(0.7);
}

.header-main a {
    text-decoration: none;
    color: white;
}

.header-main a:link {
    text-decoration: none;
    color: white;
}

.header-main a:visited {
    text-decoration: none;
    color: rgb(197, 197, 197);
}

.header-main button:not(.switch) {
    padding: 10px 20px;
    border: hidden;
    border-radius: 0;
    background-color: var(--color-headfoot);
    color: black;
    cursor: pointer;
    font-size: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.header-main button:link:not(.switch) {
    background-color: rgb(184, 184, 184);
    color: bisque;
}

.header-main button:visited:not(.switch) {
    background-color: rgb(104, 104, 104);
    color: rgb(255, 218, 173);
}

.header-main button:focus:not(.switch) {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.header-main button:hover:not(.switch) {
    background-color: rgb(86, 3, 93);
    color: rgb(225, 225, 225);
    border-radius: 0.9rem;
    transition: 0.5s ease;
    -webkit-border-radius: 0.9rem;
    -ms-border-radius: 0.9rem;
    -o-border-radius: 0.9rem;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.header-main button:active:not(.switch) {
    background-color: rgb(255, 123, 0);
    color: rgb(119, 37, 23);
    border-radius: 2rem;
    transition: 0.5s ease;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    list-style: none;
}

.header-main ul li ul {
    display: none;
}

.desplegable-noticias {
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: fit-content;
}

.desplegable-menu {
    z-index: 1;
    box-sizing: border-box;
    display: hidden;
    position: absolute;
    top: 100%;
    background-color: rgba(232, 236, 212, 0.8);
    padding: 1px;
    margin: 0px;
    padding-left: 0%;
    padding-right: 0%;
    box-shadow: green 5px;
    list-style: none;
}

.desplegable-menu button:not(.switch) {
    width: 150px;
}

.desplegable-menu ul {
    display: hidden;
    list-style: none;
    flex-direction: column;
}

.desplegable-menu li {
    padding: 1px;
    padding-left: 0%;
    padding-right: 0%;
}

.desplegable-menu .sub-desplegable-noticias {
    position: relative;
}

.desplegable-menu .sub-desplegable-noticias .sub-desplegable-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(167, 202, 255, 0.8);
    padding: 1px;
    margin: 0px;
    padding-left: 0%;
    padding-right: 0%;
    box-shadow: red 1px;
    z-index: 2;
}

.desplegable-menu .sub-desplegable-noticias .sub-desplegable-menu button {
    width: 150px;
}

.desplegable-menu .sub-desplegable-menu ul {
    list-style: none;
    flex-direction: column;
}

.sub-desplegable-menu ul {
    display: flex;
}

.desplegable-menu .sub-desplegable-menu li {
    padding: 1px;
    padding-left: 0%;
    padding-right: 0%;
}

.desplegable-noticias:hover .desplegable-menu {
    display: block;
}

.desplegable-noticias .sub-desplegable-noticias:hover .sub-desplegable-menu {
    display: block;
}

.desplegable-menu {
    display: hidden;
}

/* Boton para el modo oscuro: */

#tema {
    display: none;
}

.pulso {
    animation: pulso 3s infinite;
    -webkit-animation: pulso 3s infinite;
    -moz-animation: pulso 3s infinite;
    -ms-animation: pulso 3s infinite;
    -o-animation: pulso 3s infinite;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

@keyframes pulso {
    0% {
        font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' -25, 'opsz' 30;
    }

    50% {
        font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 200, 'opsz' 30;
    }

    100% {
        font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 200, 'opsz' 30;
    }
}

.pulso:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 32;
    font-size: 32px;
    font-weight: 700;
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.switch {
    background: #5f75bb;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #ffc9c9;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
}

/* Slider (carrusel): */

.slider {
    overflow: hidden;
}

.slider figure {
    position: absolute;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    -webkit-animation: 20s slider infinite;
    z-index: -2;
}

.slider figure img {
    float: left;
    width: 20%;
    height: 49rem;
    margin: 5px;
    transition: filter 1.5s ease;
    -webkit-transition: filter 1.5s ease;
    -moz-transition: filter 1.5s ease;
    -ms-transition: filter 1.5s ease;
    -o-transition: filter 1.5s ease;
}


@keyframes slider {
    0% {
        left: -5px;
    }

    10% {
        left: -5px;
    }

    25% {
        left: calc(-100% - 16px);
    }

    35% {
        left: calc(-100% - 16px);
    }

    50% {
        left: calc(-200% - 26px);
    }

    60% {
        left: calc(-200% - 26px);
    }

    75% {
        left: calc(-300% - 36px);
    }

    85% {
        left: calc(-300% - 36px);
    }

    100% {
        left: -5px;
    }
}


/*Sección de descarga y boton de descarga:*/

.descarga {
    background-attachment: fixed;
    height: 49rem;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.descarga h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 5rem;
    color: rgb(233, 80, 80);
    color: rgb(57, 16, 57);
}

span[class="fondo"] {
    margin: 0;
    padding: 0;
    width: min-content;
    background-color: rgba(222, 184, 135, 0.2);
    max-height: max-content;
    transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -ms-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
}

.descarga .title-clr1 {
    color: rgb(0, 0, 0);
}

.descarga .title-clr2 {
    color: rgb(255, 255, 255);
}

.descarga h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.descarga p {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}

.descarga button {
    display: flexbox;
    position: relative;
    background-color: rgb(255, 0, 0);
    border: 0.1px black solid;
    display: flex;
    position: relative;
    font-size: 40px;
    padding: 10px;
    color: rgb(131, 131, 131);
    margin-top: 10px;
    text-align: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.descarga button:hover,
.descarga button:focus {
    transition: .3s ease;
    border-style: solid solid solid solid;
    border-color: gray black black gray;
    border-width: 5px;
    background-color: rgb(255, 100, 0);
    color: rgb(255, 106, 255);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.descarga button:active {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    border-color: black grey grey black;
    background-color: tomato;
    color: violet;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    animation: efecto .2s ease;
    -webkit-animation: efecto .2s ease;
    -moz-animation: efecto .2s ease;
    -o-animation: efecto .2s ease;
    -ms-animation: efecto .2s ease;
}

@keyframes efecto {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* Sección de información: */

/* .info {
    position: relative;
    display: grid;
    grid-template-columns: 400px auto 500px;
    grid-template-rows: 100px 150px auto 300px;
    grid-gap: 10px;
    grid-row-gap: 30px;
} */

.info-content {
    width: 700px;
    height: auto;
}

.info-content {
    color: black;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    position: relative;
    bottom: 110px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info img {
    margin-top: 100px;
    width: 600px;
    height: 400px;
}

/* Sección de noticias: */

.news {
    background-color: rgba(0, 4, 123, 0.49);
}

.news h2,
h3,
h4 {
    color: black;
}

.news h4 {
    font-size: 25px;
}

.news p {
    color: black;
    font-size: 20px;
    text-align: justify;
    width: 500px;
}

.news p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.news img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* TODO: todo lo demás */
/* FIXME: mejorar la pagina */


main {
    margin-left: 10px;
    margin-right: 10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

div[class="fondo"] {
    margin: 0;
    padding-top: 10px;
    width: 100%;
    height: fit-content;
    background-color: rgba(222, 184, 135, 0.2);
}

hr[class~="separador"] {
    color: whitesmoke;
    background-color: purple;
    border: #ffffff 1px dotted;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    height: 5px;
    size: 5px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

main p {
    text-align: justify;
    text-justify: auto;
}

section {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

section h2 {
    text-align: center;
    font-size: 2.5rem;
}

section h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

article {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

article h4 {
    text-align: center;
}

article p {
    text-align: justify;
}

pre {
    text-align: center;
}


/* Footer (pie de pagina): */

footer {
    position: fixed;
    background-color: var(--color-headfoot);
    width: 100%;
    padding: 0 10px;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: black;
    padding: 0 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

footer h2,
footer h3,
footer h4 {
    color: black;
    text-decoration: underline;
    text-align: center;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

/* Estilos para la sección de dirección */
address {
    position: relative;
    text-align: left;
    margin: 0;
    right: 30px;
}

address h3 {
    margin: 0;
    font-size: 16px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

address li {
    margin-bottom: 0;
    font-size: 14px;
    display: inline;
}

address h4 {
    font-size: 14px;
    text-align: left;
}

address a {
    color: black;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
}

#contactenos {
    position: relative;
    display: inline-flex;
    float: right;
    margin: 0;
    left: 30px;
}


/* Iconos de las redes sociales: */

.submenu_redes {
    display: none;
}

#redes_sociales {
    cursor: pointer;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.submenu_redes {
    display: none;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--color-headfoot);
    padding: 10px;
}

#redes_sociales:hover+.submenu_redes,
#redes_sociales:hover+.submenu_redes,
#redes_sociales:active+.submenu_redes,
.submenu_redes:hover,
.submenu_redes:focus,
.submenu_redes:active {
    display: block;
}

.logos_redes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logos_redes li {
    display: inline-block;
    margin-right: 10px;
}

.logos_redes a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.logos_redes a:hover {
    opacity: 0.8;
}

.logos_redes b {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-decoration: none;
    z-index: 1;
}

.logos_redes b::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.logos_redes .icono-XT b::before {
    width: 35px;
    height: 35px;
}

.logos_redes b:hover::before,
.logos_redes b:focus::before,
.logos_redes b:active::before {
    background-color: #333;
    border: 2px solid;
}

.logos_redes i,
.logos_redes .icono-XT i {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 0;
}

.logos_redes a:hover .circulo::before,
.logos_redes a:focus .circulo::before,
.logos_redes a:active .circulo::before {
    background-color: #333;
    border: 1px solid #a1a1a1;
}

/* Estilos para el texto debajo de los iconos */
.logos_texto {
    position: relative;
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 0px;
    top: 14px;
    background-color: #f2f2f2;
    font-weight: bold;
}

.XT {
    position: relative;
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 0px;
    top: 5px;
}

/* Estilos para la lista de redes sociales */
.logos_redes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logos_redes li {
    display: inline-block;
    margin-right: 10px;
}

.logos_redes i,
.logos_texto,
.fab {
    z-index: 5;
}

.logos_redes b::before {
    color: #fff;
}

.logos_texto.facebook {
    color: #1877f2;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logos_redes .facebook b::before {
    background-color: #1877f2;
}

.logos_texto.whatsapp {
    color: #25d366;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logos_redes .whatsapp b::before {
    background-color: #25d366;
}

.logos_texto.instagram {
    color: #fd5e53;
    font-family: 'Billabong', 'Brush Script MT', cursive;
}

.logos_redes .instagram b::before {
    background-color: #fd5e53;
}

.logos_texto.twitter {
    color: #1da1f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logos_redes .twitter b::before {
    background-color: #1da1f2;
}

.logos_texto.youtube {
    color: #ff0000;
    font-family: 'YouTube Sans', Arial, sans-serif;
}

.logos_redes .youtube b::before {
    background-color: #ff0000;
}

.logos_texto.tiktok {
    color: #009da8;
    background-color: white;
    font-family: 'Gilroy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logos_redes .tiktok b::before {
    background-color: #009da8;
}

.logos_texto.github {
    color: #333333;
}

.logos_redes .github b::before {
    background-color: #333333;
}

.logos_texto.discord {
    color: #7289da;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logos_redes .discord b::before {
    background-color: #7289da;
}

.logos_texto.reddit {
    color: #ff4500;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.logos_redes .reddit b::before {
    background-color: #ff4500;
}

.logos_texto.pinterest {
    color: #bd081c;
    font-family: 'Roboto', sans-serif;
}

.logos_redes .pinterest b::before {
    background-color: #bd081c;
}

.logos_texto.linkedin {
    color: #0077b5;
    font-family: 'Arial', sans-serif;
}

.logos_redes .linkedin b::before {
    background-color: #0077b5;
}

.logos_texto.blogger {
    color: #f57d00;
    font-family: 'Roboto', sans-serif;
}

.logos_redes .blogger b::before {
    background-color: #f57d00;
}

.fa-x-twitter {
    color: black;
}


.hub {
    background-color: black;
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.hub span {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#first-hub {
    margin: 0;
}

.hub span:nth-child(2) {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: #FF9900;
    color: #000000;
    border-radius: 1vw;
    padding: 0 2px 0 2px;
    display: inline-block;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    margin: 0;
    margin-right: 0;
}

.tube {
    background-color: white;
    display: block;
    font-size: 12px;
}

#first-tube {
    margin: 0;
}

.tube span:nth-child(2) {
    background: red;
    color: white;
    border-radius: 1vw;
    padding: 0 2px 0 2px;
    display: inline-block;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    margin: 0;
    margin-right: 0;
}

.ink {
    background-color: white;
    display: block;
    font-size: 12px;
}

#first-ink {
    margin: 0;
}

.ink span:nth-child(2) {
    background: rgb(0, 132, 255);
    color: white;
    border-radius: 25%;
    padding: 0 2px 0 2px;
    display: inline-block;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    margin: 0;
    margin-right: 0;
}