.confir {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.confir h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.confir p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}


.confir .btn1 {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilo para el botón "Cancelar" */
.confir .btn {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilo para el enlace del botón "Cancelar" */
.confir .btn + a {
    text-decoration: none;
}
